:root {
  --background: #ffffff;
  --foreground: #031716;
  --primary: #8ECCCC;
  --secondary: #50717B;
  --second-black: #3A4042;
  --black: #031716;
  --white: #fff;
  --mobile: 992px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #031716;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Outfit', 'Outfit Fallback';
  font-size: 16px;
  position: relative;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  container-type: inline-size;
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  body {
   font-size: 14px;
  }
}